[submodule "src/shuiwu.theme"]
	path = src/shuiwu.theme
	url = git@github.com:adam139/shuiwu.theme.git
[submodule "src/shuiwu.baoshui"]
	path = src/shuiwu.baoshui
	url = git@github.com:adam139/shuiwu.baoshui.git
[submodule "src/shuiwu.policy"]
	path = src/shuiwu.policy
	url = git@github.com:adam139/shuiwu.policy.git
[submodule "src/plone.app.locales"]
	path = src/plone.app.locales
	url = https://github.com/adam18975257327/plone.app.locales.git
